/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/
:root{
    --branding-color:  #708fb9;
    --heading-font: 'Playfair Display', serif;
    --default-font:'Poppins', sans-serif;
}
h1,h2,h3,h4,h5{
    color: #3a3a3b;
    font-weight: bold;
    font-family:var(--heading-font);
    text-shadow: 2px 2px lightgray;
}




.hero{
    background-image: url(../images/homepage.jpg);
    background-repeat: none;
    text-align: center;
    background-size: cover;
}

h1{
    padding-top: 150px;
    font-family: 'Playfair Display', serif;
    font-size: 80px;
  
}

h2{
    padding-top: 30px;
    padding-bottom: 20px;
}

.btn-branding{
    background-color:var(--branding-color);
    color: white;
    font-size: 18px;
    border-radius: 4px;
    line-height: 27px;
}