/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/
:root{
    --branding-color:  #708fb9;
    --heading-font: 'Playfair Display', serif;
    --default-font:'Poppins', sans-serif;
}

body{
    background-color: #f3eeea;
}
h1,h2,h3,h4,h5{
    color: #3a3a3b;
    font-weight: bold;
    font-family:var(--heading-font);
    text-shadow: 2px 2px lightgray;
}


.hero{
    background-image: url(../images/homepage.jpg);
    background-repeat: none;
    text-align: center;
    background-size: cover;
   
}

.content-container{
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    padding-bottom: 300px;
}
h1{
    padding-top: 150px;
    font-family: 'Playfair Display', serif;
    font-size: 80px;
  
}
.content-head{
    color: white;
    padding-top: 300px;
    text-shadow: 2px 2px black;
}

h2{
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}
p{
    font-size: 18px;
}

.btn-branding{
    background-color:var(--branding-color);
    color: white;
    font-size: 18px;
    border-radius: 4px;
    line-height: 27px;
}

.home-content{
    background-color: white;
    box-shadow: 0 0 10px 5px gray ;
    border-radius: 4px;
    margin-top: -20px;
}

.about-content{
    background-color: white;
    box-shadow: 0 0 10px 5px gray ;
    border-radius: 4px;
    margin-top: -20px;
}

.work-content{
    background-color: white;
    box-shadow: 0 0 10px 5px gray ;
    border-radius: 4px;
    margin: 20px;
}

.img{
   max-width: 100%;
    height: auto;
    display: flex;
    flex: 1;
    justify-content: center;
    border: 1px solid grey;
}

.img-fluid{
    max-width: 100;
}

@media (max-width:970px) {
    h1,h2,p{
        text-align: center;
    }

    h1 {
        font-size: 60px;
    }
    h2{
        font-size: 22px;
    }
    p{
        font-size:14px ;
    }
    .btn-branding{
        font-size: 14px;
    }
   .about-container{
       text-align: center;
   }

}