/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/
:root{
    --branding-color:  #708fb9;
    --heading-font: 'Playfair Display', serif;
    --default-font:'Poppins', sans-serif;
    --secondary-color: lightgray;

}

body{
    background-color: #f3eeea;
}
h1,h2,h3,h4,h5{
    color: #3a3a3b;
    font-weight: bold;
    font-family:var(--heading-font);
    text-shadow: 2px 2px var(--secondary-color);
}


.hero{
    background-image: url(../images/homepage.jpg);
    background-repeat: none;
    text-align: center;
    background-size: cover;
    height: 800px;;
   
}

.content-container{
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    text-align: center;
    background-size: 100% ;
    padding-bottom: 300px;
    max-width: 100%;
    padding-top:5px ;
}

h1{
    padding-top: 250px;
    font-family: 'Playfair Display', serif;
    font-size: 80px;
  
}
.content-head{
    color: white;
    padding-top: 300px;
    text-shadow: 2px 2px black;
}

h2{
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}
p{
    font-size: 18px;
}
.project-link{
    text-align: center;
}


.btn-branding{
    background-color:var(--branding-color);
    color: white;
    font-size: 18px;
    border-radius: 4px;
    line-height: 27px;
}

.home-content{
    background-color: white;
    box-shadow: 0 0 10px 5px gray ;
    border-radius: 4px;
    margin-top: -20px;
}

.about-content{
    background-color: white;
    box-shadow: 0 0 10px 5px gray ;
    border-radius: 4px;
    margin-top: -20px;
}

.work-content{
    background-color: white;
    box-shadow: 0 0 10px 5px gray ;
    border-radius: 4px;
    margin: 20px;
}

.img{
   max-width: 100%;
    height: auto;
    display: flex;
    flex: 1;
    justify-content: center;
    border: 1px solid grey;
}

.img-fluid{
    max-width: 100;
}

.col-3 img{
    max-width: 200px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

.logo-name{
 
   line-height: 42px;
   margin-left: -50px;
}

nav ul{
    margin: 0;
    padding: 0;
}
nav li{
    display: inline;
    list-style: none;
    line-height: 45px;
    padding-left: 20px;
}

nav li a{
    text-decoration: none;
}

nav li a:hover, nav li.active a{
    color: var(--branding-color);
}

footer .email-link{
    text-decoration: none;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px;
}

footer .email-link:hover{
    color: var(--branding-color);
}

footer .social-links a{
    margin: 0 20px;
    color: var(--branding-color);
    background-color: var(--secondary-color);
    padding: 10px 14px;
    font-size: 20px;
    border-radius: 50%;
    transition: all 100ms ease-in-out ;
}

footer .social-links a:hover{
    color: white;
    background-color: var(--branding-color);
}
@media (max-width:970px) {
    h1,h2,p{
        text-align: center;
    }

    h1 {
        font-size: 40px;
    }
    h2{
        font-size: 22px;
    }
    p{
        font-size:14px ;
    }

    .content-container{
        padding-top: 10px;
    }
    .btn-branding{
        font-size: 14px;
    }
   .about-container{
       text-align: center;
   }
   .contact-links img{
      height:60px ;
      text-align: center;
   }

}